body {
  margin: 0
}

.container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  background: radial-gradient(#f77f00, #fcbf49);
  opacity: 0.5;
}

.opt {
  background-size: 10%;
  width: 33%;
  height: inherit;

  animation: slide 400s linear infinite;
}

.optL {
  background-image: url('https://i.imgur.com/BvFVqqO.png');
}

.optM {
  background-image: url('https://i.imgur.com/1iaT348.png');
}

.optR {
  background-image: url('https://i.imgur.com/Nw4N5cq.png');
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
